@using SimpleBankingSystem.Models
@model TransactionAllViewModel
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Transactions review</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/css/Popup-Element-Overlay-1.css">
    <link rel="stylesheet" href="/css/Popup-Element-Overlay.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-money-bill-wave"></i></div>
                    <div class="sidebar-brand-text mx-3">
                        <span>SBS</span>
                        <p style="font-size: 9px;">simple banking system</p>
                    </div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/admin/AdminHome/transactionsreview"><i class="fa fa-line-chart"></i><span>Transactions Review</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/AdminHome/addnews"><i class="fa fa-newspaper-o"></i><span>Add News</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" href="#"><br>Need help ?<br><br></a></li>
                        </ul>
                        <ul class="navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group">
                                            <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">@Model.UserNavbarModel.FirstName @Model.UserNavbarModel.LastName</span><img class="border rounded-circle img-profile" src="@Model.UserNavbarModel.PhotoUrl"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Transactions</h3>
                        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/pdf/print">
                            <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report
                        </a>
                    </div>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Your transactions:</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <form id="form01" action="/admin/adminhome/transactionsreview" method="get">
                                            <label>
                                                Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm" id="period" name="period">
                                                <!option value="all" @if (Model.PeriodReturn == "all") { @Html.Raw("selected=\"\""); }>all</!option>
                                                <!option value="today" @if (Model.PeriodReturn == "today") { @Html.Raw("selected=\"\""); }> today</!option>
                                                <!option value="7days" @if (Model.PeriodReturn == "7days") { @Html.Raw("selected=\"\""); }> last 7 days</!option>
                                                <!option value="30days" @if (Model.PeriodReturn == "30days") { @Html.Raw("selected=\"\""); }> last 30 days</!option>
                                            </select>&nbsp;
                                            </label>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><button class="btn btn-primary" form="form01" type="submit" value="Submit">Refresh</button></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Ammount</th>
                                            <th>Date</th>
                                            <th>Id</th>
                                            <th>Description</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Revoke</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in this.Model.Transactions)
                                        {

                            <tr>
                                <td>@item.Ammount<text>$</text></td>
                                <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                <td>@item.TransactionId</td>
                                <td>@item.Description</td>
                                <td>@item.From</td>
                                <td>@item.To</td>
                                <td style="padding-left: 0px;">
                                    <form action="/admin/adminhome/transactionsreview" method="post">
                                        <button class="btn btn-danger active btn-block" type="submit" name="IdOfTransaction" value="@item.TransactionId">Revoke</button>
                                        <input type="hidden" name="period" value="@Model.PeriodReturn">
                                    </form>
                                </td>

                            </tr>}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Ammount</strong></td>
                                            <td><strong>Date</strong></td>
                                            <td><strong>Id</strong></td>
                                            <td><strong>Description</strong></td>
                                            <td><strong>From</strong></td>
                                            <td><strong>To</strong></td>
                                            <td><strong>Revoke</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <nav>
                                <ul class="pagination">
                                    @{int previous; }
                                    @if (Model.CurrentPage == 1) { previous = 1; } else { previous = Model.CurrentPage - 1; }
                                    <li class="page-item"><a class="page-link" href="?period=@Model.PeriodReturn&page=@previous" aria-label="Previous"><span aria-hidden="true">«</span></a></li>

                                    @{
                                        int pagesToDisplay;
                                        if (Model.TotalPages <= 5) { pagesToDisplay = (int)Model.TotalPages; }
                                        else { pagesToDisplay = 5; }
                                     }
                                    @for (int i = 1; i <= pagesToDisplay; i++)
                                    {
                                <li class="page-item"><a class="page-link" href="?period=@Model.PeriodReturn&page=@i" @if (Model.CurrentPage == i) { @Html.Raw("style = \"font-weight: bold;\"") ; }>@i</a></li>}


                                    @{int next; }
                                    @if (Model.CurrentPage == Model.TotalPages) { next = (int)Model.TotalPages; } else { next = Model.CurrentPage + 1; }
                                    <li class="page-item"><a class="page-link" href="?period=@Model.PeriodReturn&page=@next" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © SBS @DateTime.UtcNow.Year</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/Popup-Element-Overlay.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>
